.site-form {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    max-width: 465px;
    width: 100%;
    @media(min-width: 960px) {
        max-width: 960px;
    }
    .image-wrapper {
        background-image: url(../images/car-mobile.jpg);
        background-repeat: no-repeat;
        width: 100%;
        height: 410px;
        background-size: 100% 100%;
        .button-html {
            display: none;
        }
        @media(min-width: 960px) {
            background-image: url(../images/car-desktop.jpg);
            height: 450px;
            position: relative;
            .button-html {
                display: block;
                position: absolute;
                bottom: 20px;
                right: 20px;
                font-family: Roboto;
                border: 3px solid #a1a1a1;
                border-radius: 10px;
                border-top: 1px solid #a1a1a1;
                border-left: 1px solid #a1a1a1;
                border-right: 2px solid #a1a1a1;
                width: 100%;
                max-width: 165px;
                span {
                    position: absolute;
                    right: 0px;
                    bottom: 40px;
                    width: 165px;
                    padding: 25px;
                    z-index: 100;
                    background: rgba(89, 89, 89, 0.8);
                    color: #fff;
                    -moz-border-radius: 5px;
                    -webkit-border-radius: 5px;
                    opacity: .8;
                    cursor: default;
                    &:before {
                        content: '';
                        display: block;
                        width: 0;
                        height: 0;
                        position: absolute;
                        -webkit-transform: rotate(270deg);
                        transform: rotate(270deg);
                        border-top: 8px solid transparent;
                        border-bottom: 8px solid transparent;
                        border-right: 8px solid #585858;
                        opacity: .8;
                        left: 46%;
                        bottom: -12px;
                    }
                }
            }
        }
    }
    &-contact {
        border-top: 5px solid $btn-bg-color-primary;
        background-color: $color-gray;
        -webkit-box-shadow: 0px 10px 8px -4px rgba(0, 0, 0, 0.64);
        -moz-box-shadow: 0px 10px 8px -4px rgba(0, 0, 0, 0.64);
        box-shadow: 0px 10px 8px -4px rgba(0, 0, 0, 0.64);
        padding: 50px 20px 180px 20px;
        display: flex;
        flex-direction: column;
        .input-field {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            label {
                width: 35px;
                height: 35px;
                margin-right: 20px;
            }
            input {
                width: 100%;
            }
            @media(min-width:960px) {
                margin-bottom: 10px;
            }
        }
        .phone-number {
            display: flex;
            width: 100%;
            input {
                width: 100%;
                &:first-child {
                    width: 95px;
                    margin-right: 12px;
                    @media (min-width: 960px) {
                        width: 70px;
                    }
                }
            }
        }
        .btn-submit {
            font-size: 45px;
            font-weight: bold;
            color: $btn-color-primary;
            background: linear-gradient(0deg, rgba(247, 156, 39, 1) 35%, rgba(248, 170, 54, 1) 44%, rgba(248, 186, 73, 1) 53%);
            padding: 12px 0;
            max-width: 350px;
            border-radius: 10px;
            width: 100%;
            margin-left: 50px;
            position: relative;
            margin-top: 20px;
            margin-bottom: 30px;
            border: 0;
            &::before {
                content: "";
                background-image: url(../images/svg/arrow.svg);
                width: 35px;
                height: 35px;
                display: inline-block;
                background-repeat: no-repeat;
                position: absolute;
                left: 30px;
                top: 30px;
            }
            @media(min-width:960px) {
                font-size: 25px;
                max-width: 200px;
                margin-left: 0;
                padding: 7px 15px;
                margin-top: 10px;
                margin-bottom: 20px;
                &::before {
                    content: "";
                    background-image: url(../images/svg/arrow.svg);
                    width: 20px;
                    height: 20px;
                    background-size: 100% 100%;
                    display: inline-block;
                    background-repeat: no-repeat;
                    position: absolute;
                    left: 20px;
                    top: 15px;
                }
            }
        }
        .terms {
            color: $text-color-secondary;
            margin-left: 60px;
            font-family: Roboto;
            font-size: 17px;
            display: flex;
            align-items: center;
            input {
                width: 20px;
                height: 20px;
                margin-right: 10px;
            }
            .check-terms:checked {
                accent-color: #ffffff;
            }
            a {
                color: $text-color-secondary;
            }
            @media(min-width:960px) {
                margin-left: 0;
                font-size: 13px;
            }
        }
        @media(min-width:960px) {
            border: 15px solid $btn-bg-color-primary;
            border-image: repeating-linear-gradient( 90deg, #ffffff, #ffffff 30px, $btn-bg-color-primary 30px, $btn-bg-color-primary 59px) 30;
            box-shadow: none;
            flex-direction: row;
            gap: 0 30px;
            border-left: 0;
            border-right: 0;
            padding: 25px 40px 20px 30px;
        }
    }
}