body {
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    font-family: Roboto;
    margin: 20px 10px;
}

input {
    font-family: Roboto;
    padding: 15px 20px;
    background-color: $field-color;
    outline: none;
    font-size: 22px;
    border: 0;
    @media (min-width: 960px) {
        padding: 10px 15px;
        font-size: 16px;
    }
}

button {
    font-family: Roboto;
}

.error-country,
.error-phone,
.error-email,
.error-fullname,
.error-terms {
    color: red;
    display: inline-block;
}

.error-country,
.error-phone,
.error-email,
.error-fullname {
    color: red;
    margin-left: 50px;
}

.error-terms {
    margin-left: 60px;
    @media (min-width: 960px) {
        margin-left: 0;
    }
}