.custom-select {
    position: relative;
}

.custom-select select {
    display: none;
}

.select-selected {
    background-color: $field-color;
}

.select-selected:after {
    position: absolute;
    content: "";
    color: $field-text-color;
    top: 28px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: $field-text-color transparent transparent transparent;
    @media(min-width: 960px) {
        top: 20px;
    }
}

.select-selected.select-arrow-active:after {
    border-color: transparent transparent $field-text-color transparent;
    top: 14px;
}

.select-items div,
.select-selected {
    color: $field-text-color;
    padding: 15px 20px;
    font-size: 22px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    @media(min-width: 960px) {
        font-size: 16px;
        padding: 10px 20px;
    }
}

.select-items {
    position: absolute;
    background-color: $field-color;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

.select-hide {
    display: none;
}

.select-items div:hover,
.same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}